@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');


body{
  background-color: #22242A;
}

.direc{
  position: relative;
  width: 15vw;
left: 7.5vw;
top: 40vh;
}

.gameOver{
  left: 70vw;
  top: 40vh;
  position: absolute;
}

.header{
  width: 100vw;
  position: absolute;
  display: flex;
}

.name-contain{

  position: relative;
  display: flex;
  padding-left: 5vh;
}

.glow{
  box-shadow:
  0 0 2px white,
  0 0 12px white,
  0 0 25px white;
}

h1{
  font-size: 15vh;
  font-family: 'Neonderthaw', sans-serif;
  color: gray;
  text-shadow:
  0 0 12px white,
  0 0 22px purple,
  0 0 30px white;
}

.effect{
  animation: slidein 2s ease-in;
}

h2{
  text-align: center;
  padding-bottom: 3vh;
  font-family: 'Neonderthaw';
  color: #FFFF33;
  margin: 0;
}

h3{
  text-align: center;
  padding-bottom: 3vh;
  margin: 0;
  font-family: 'Neonderthaw';
  color: #FFFF33;
}

h4{
  text-align: center;
  padding-bottom: 3vh;
  font-family: 'Player Start 2P';
  color: #FFFF33;
  margin: 0;
  font-size: 5vh;
}

.game-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;

}

.game{
  height: 50vh;
  width: 50vh;
  display: inline-block;
}


.bottom-right{
    width: 25vh;
    height: 25vh;
    background: #FF3131;
    border-radius: 0 0 25vh 0;
    -moz-border-radius: 0 0 25vh 0;
    -webkit-border-radius: 0 0 25vh 0;
    border: none;
}

.bottom-left{
  float: left;
     width: 25vh;
     height: 25vh;
     background: #15f4ee;
     border-radius: 0 0 0 25vh;
     -moz-border-radius: 0 0 0 25vh;
     -webkit-border-radius: 0 0 0 25vh;
     border: none;
}


.top-right{
  float: right;
         width: 25vh;
         height: 25vh;
         background: #39FF14;
         border-radius: 0 25vh 0 0;
         -moz-border-radius: 0 25vh 0 0;
         -webkit-border-radius: 0 25vh 0 0;
         border: none;
}


.top-left{
         width: 25vh;
         height: 25vh;
         color: #FFFF33;
         background: #FFFF33;
         border-radius: 25vh 0 0 0;
         -moz-border-radius: 25vh 0 0 0;
         -webkit-border-radius: 25vh 0 0 0;
         border: none;
    }

.clicked{
  background-color:   white;
}

@keyframes  slidein{
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
